body {
  display: flex;
}

/* #main-div {
  align-items: center;
  justify-content: center;
} */

#container {
  width: 425px;
  height: 425px;
  background-color: white;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: space-around;
}

.square {
  width: 200px;
  height: 200px;
  border: none;
  background-color: green;
}

.game-img {
  width: 200px;
  height: 200px;
}

h3 {
  display: inline-block;
}

.hidden {
  display: none;
}
